.header {
    background-color: blue;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
     justify-content: flex-end;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  