#mapid {
  height: 400px;
  /* width: 800px; */
  /* display:flex; */
  /* justify-content: center; */
  /* margin:10px */
}

.topstyle{
  position: "fixed";
  top: 0;
  display: "flex";
  justify-content: "space-between";
  /* align-items: "center"; */
  width: "100%";
  height: 100px;
  background-color: red;
  /* borderBottom: `1px solid ${styles.black(0.1)}`; */
  font-weight: "bold";
  padding: "0px 20px";
  box-sizing: "border-box"
};


.title{
  border:0.5 grey;
  height: 80px;
  display:flex;
  /* width:100%; */
 /* margin:10px; */
  background-color: #aa1b41;
  margin-right: 20px;
  margin-left: 20px;
  justify-content: center;
  align-items: center;
  color: #fff;
  

}

.inputbox{
  display:flex;
  flex-direction: column;
  /* background-color: blueviolet; */
  margin:10px;
}

.textinputbox{
  display:flex;
  /* justify-content: center; */
  flex-direction:row;
}
.texting{
 
 display:flex;
 font-size:20px;
 /* justify-content: center; */

}
.text{
  font-family: 'Source Sans Pro',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 900;
  font-size: 25px;
}
.containerstyle{
margin-top:30px
}

.fonts{
  font-family: 'Source Sans Pro',Helvetica,Arial,Lucida,sans-serif;
  width: 100%;
  font-size: 17px;
  font-weight: 900;
  color: #0a3871;
  text-align: center;
  margin-bottom: 20px;
}


.checkmark{
  position:absolute;
  top:0;
  left:0;
  height:25px;
  width:25px;
  background-color:#eee
  }

.buttoncolor{
  background-color: coral;
}

.text{
  font-size :1.5rem;
  font-weight: bold;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}
.mapstyle{
    justify-content: center;
}

.heading {
  /* background-color: #aa1b41; */
  background: url('./../../img/contactusheader.png') no-repeat center fixed; 
  -webkit-background-size: cover; 
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
color: #fff;
text-align: center;
padding: 40px;
text-transform: uppercase;    
margin-left: 10px;
margin-right: 10px; 

 
}

.heading > h4 {        	
font-weight: 800 !important;	
letter-spacing: 4px;
}
.image{
-webkit-background-size: cover; 
-moz-background-size: cover;
-o-background-size: cover;
 background-size: cover;
}

.text-clr{
color:#4863A0;
font-family:'Source Sans Pro',Helvetica,Arial,Lucida,sans-serif;
font-size: 14px;
}

input[type=text] {
border: 1px solid #0a3871;
border-radius: 4px;
}
.messagetextarea{
  border: 1px solid #0a3871;
border-radius: 4px;
}

.change::-webkit-input-placeholder {
/* WebKit, Blink, Edge */
color:#2B547E
}
.change:-moz-placeholder {
/* Mozilla Firefox 4 to 18 */
color: #2B547E;
opacity: 1;
}
.change::-moz-placeholder {
/* Mozilla Firefox 19+ */
color: #2B547E;
opacity: 1;
}
.change:-ms-input-placeholder {
/* Internet Explorer 10-11 */
/* color: #2B547E; */
color: #2B547E;
}

.letterSpace-1 {
letter-spacing: 1px;
font-weight: 800 !important;
}

.letterSpace-2 {
letter-spacing: 2px;
font-weight: 800 !important;
}

.nav-item {
font-size: 0.7em;
}

.jumbotron {
padding: 2rem;
}

.btnSubmit {
border-radius: 40px;
letter-spacing: 1px;
background-color: #ff8500;
}

.gmap_canvas  {
width: 100%;
height: 300px;
}



.middle {
margin: auto;
vertical-align: middle;
}

.content-box .card {
height: 70px;
margin-bottom: 20px;
padding-bottom: 10px;

}
.flex-container{
  height:70px;
  border :1px solid #dde3e5;
  margin-bottom: 20px;
}
.cardtext{
  float:left;
  width:52%
}

.centertext{
  color:#0a3871;
  padding-left: 13px;
  font-size: 16px;
  text-transform: capitalize;
  padding-top: 10px;
  text-decoration: none;
}
.colortext{
  color: #f19437;
  padding-left: 13px;
  font-size: 16px;
  text-transform: capitalize;
  padding-top: 10px;
  text-decoration: none;
}
.checkcolor{
left: 11px;
top: 2px;
width: 8px;
height: 20px;
border: solid orange;
border-width: 0 5px 5px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);

}
.checkboxchecked{
  /* padding: 7px; */
  margin-left: 15px;
  border: 2px solid navy;
  float: left;
  width: 44px;
  height: 44px;
  margin-top: 10px;
}
/* 
.content-box .card .card-body {
font-size: 12px;
font-weight: bold;
} */

.icon-align{
  padding-top: 10px;
}

.icon{
  margin-top: 10px;
}

.fntsize{
font-size:initial
}

.uncheckbox{
  /* padding: 7px; */
  margin-left: 15px;
  border: 2px solid #ebeff0;
  float: left;
  width: 44px;
  height: 44px;
  margin-top: 10px;
}





.or-Text {
color: #f19437;
}

@media (max-width: 767.98px) {

.addressHead {
    font-size: 12px;
}

.addressHead .addressHeadtext {
    text-align: center !important;
    
}
#mapid {
  height: 200px;

}
}

@media screen and (max-width: 600px) {
  /* body {
    background-color: olive;
  } */
  /* .flex-container{
    height:44px;
    width:130px;
    border :1px solid #dde3e5
  } */
}